Proj_Name = Project_Name
Fastq_1_Path = /Path/to/Test.1.fastq
Fastq_2_Path = /Path/to/Test.2.fastq
Reference_Seq= /Path/to/reference.fa
Output_Path = /Path/to/Output_Folder
Reconstruction_Start = 501 
Reconstruction_End = 9219 
# The length of each region for divide and conquer
Region_Length = 500 
Min_Mapping_Qual = 40
Min_Read_Length = 100 
# Maximum insert read length
Max_Insert_Length = 1000 
# Estimated sequencing error
Sequence_Err = 0.1
# MEC_Improvement_Cutoff, please refer to TenSQR user manual
MEC_Improvement_Cutoff = 0.0312 
# Initial_Population_Size, please refer to TenSQR user manual
Initial_Population_Size= 5 
# The weight of the constraints Sigma freq_i * h_ij = MAF_j (j is the SNP index and i is the haplotype index).
Regression_One_Vector_Weight = 50.0 
#The weight of the constraints Sigma freq_i * h_ij = MAF_j (j is the SNP index and i is the haplotype index)
Regression_Hap_MAF_Weight = 5.0  
#The weight for LD (specifically, the probability for both SNP_k and SNP_j being the alternate allele)
Regression_Hap_LD_Weight = 1.0  
# Maximum SNP mismatch ratio tolerance in region extextion
BFS_Mismatch_Tolerance_Rate = 0.1
Number_Threads= 8 
# Number of maximum selected haplotypes to generate higher level potential haplotypes for following L0L1 regression.
Maximum_Haps_R = 20 
# The minimum regularization gamma penalty for L0L1 regression.
Regression_Gamma_Min=0.0001 
# The lambda penalty for L0L1 regression.
Regression_Lambda = 0.001 
# The maximum regularization gamma penalty for L0L1 regression.
Regression_Gamma_Max=0.1 
# The number of gamma values beween Regression_Gamma_Min and Regression_Gamma_Max for L0L1 regression.
Regression_n_Gamma = 10 
# The minimum frequency cutoff for haplotype. 
Min_Hap_Freq = 0.01 
# Number of maximum potential haplotypes for L0L1 regression.
Max_L0L1_Regional_Haps = 1000 
bwa = /Path/to/bwa
Rscript_path= /Path/to/Rscript 
ExtractMatrix = /Path/to/ExtractMatrix
TenSQR = /Path/to/TenSQR.py
PYTHON = /Path/to/PYTHON3

